<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="#{home.welcome}">Thymeleaf Guide</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

  	<div>
	  	<p th:text="#{home.welcome}">Learn</p>
	  	
		<a th:href="@{/passing/}">1. Learn passing</a>
		<br></br>
		<br></br>
		<a th:href="@{/expression/}">2. Learn expression</a>
		<br></br>
		<br></br>
		<a th:href="@{/validate/}">3. Learn validating form input</a>
	</div>
	
  </body>

</html>